{% extends "base.html" %}

{% block title %}欽弘的網站{% endblock %}

{% block headmessage %}
<h2>Codeforces 紅名玩家 (分數高於2400分)</h2>
{% endblock %}

{% block content %}
    總共有{{ size }}人符合條件
    <br />
    資料來源: <a href="https://codeforces.com/ratings/page/1">https://codeforces.com/ratings/page</a>
    <br />
    每一小時更新一次
    <table class="table table-striped table-dark">
        <tr><td>排名</td><td>名稱</td><td>分數</td></tr>
        {% for item in data %}
            <tr>
                <td>{{item.ranking}}</td>
                <td>
                    {{item.name}}
                </td>
                <td>
                    {{item.score}}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}